@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Olá</h1>
    <p>Após o surto zumbi, os governos e suas forças caíram, fazendo com que nós ficássemos a mercê dos que possuíam mais recursos. Para garantir a nossa sobrevivência nesse mundo apocalíptico, começamos a nos organizar em comunidades, onde cada pessoa tem um papel fundamental.</p>
</div>
