@model Entities.Entities.Resource

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Resource</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observation" class="control-label"></label>
                <input asp-for="Observation" class="form-control" />
                <span asp-validation-for="Observation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsibleInput" class="control-label"></label>
                <input asp-for="ResponsibleInput" class="form-control" />
                <span asp-validation-for="ResponsibleInput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsibleOutput" class="control-label"></label>
                <input asp-for="ResponsibleOutput" class="form-control" />
                <span asp-validation-for="ResponsibleOutput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
